body {
  margin: 0;
  background-color: #000000; /* dark bluish-gray */
  font-family: "Orbitron", sans-serif;
  color: #f5f5dc; /* off-white / cream for text */
}

a {
  color: #00bfff; /* electric blue links */
  transition: color 0.3s ease;
}

a:hover {
  color: #ff69b4; /* neon pink hover */
}
